@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

/* 1. ON DÉFINIT LES COULEURS POUR LE MODE CLAIR */
:root {
  --background: #ffffff;
  --foreground: #030213;
  --card: #ffffff;
  --muted: #f3f3f5;
  --muted-foreground: #717182;
  --border: rgba(0, 0, 0, 0.08);
}

/* 2. ON REDÉFINIT TOUT POUR LE MODE SOMBRE */
.dark {
  --background: #000000;
  --foreground: #ffffff;
  --card: #11111e;
  --muted: #1e1e2e;
  --muted-foreground: #94a3b8;
  --border: rgba(255, 255, 255, 0.1);
  color-scheme: dark;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply transition-colors duration-300;
    overscroll-behavior-y: none;
  }
}